<ul class="nav nav-tabs nav-justified">
    <!-- <li role="presentation" class=""><a [routerLink]="['/reportes']"><i class="material-icons">insert_chart</i> Reportes</a></li>
    <li role="presentation" class="disabled"><a [routerLink]="['/crisis-center']"><i class="material-icons">dashboard</i >Panel</a></li>
    <li role="presentation" class="disabled"><a [routerLink]="['/heroes']"><i class="material-icons">feedback</i> Soporte</a></li>
    <li role="presentation" class="disabled"><a [routerLink]="['/crisis-center/admin']"><i class="material-icons">settings</i> admin</a></li>
    <li role="presentation" class="disabled"><a [routerLink]="['/login']"><i class="material-icons">account_circle</i> login</a></li>-->
    <li role="presentation"><a [routerLink]="['/']"><i class="material-icons">insert_chart</i>Niños Diagnosticados con anemia y Recuperados</a></li>
    <li role="presentation"><a [routerLink]="['/mmn']"><i class="material-icons">insert_chart</i>Administración de Multimicronutrientes en Niños</a></li>
    <li role="presentation"><a [routerLink]="['/gestantes']"><i class="material-icons">insert_chart</i>Gestante Diagnosticada con Anemia y Recuperados</a></li>
    <li role="presentation"><a [routerLink]="['/mmn/gestante']"><i class="material-icons">insert_chart</i>Administración de SF en Gestante</a></li>
</ul>
<router-outlet></router-outlet>